absl-py==2.0.0
adaptix==3.0.0b10
aiocryptopay==0.4.7
aiofiles==23.2.1
aiogram==3.4.1
aiogram_dialog==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.9.5
aiosignal==1.3.1
aiosqlite==0.21.0
amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.8.0
APScheduler==3.10.4
asttokens==3.0.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
audioread==3.1.0
backcall==0.2.0
beautifulsoup4==4.12.3
billiard==4.2.4
bleach==6.3.0
blis==1.3.3
bs4==0.0.1
cachetools==5.3.3
catalogue==2.0.10
celery==5.3.6
certifi==2023.11.17
cffi==2.0.0
charset-normalizer==3.3.2
click==8.3.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudpathlib==0.24.0
cloudpickle==3.1.2
colorama==0.4.6
colorlog==6.8.2
comtypes==1.3.0
confection==1.3.3
cymem==2.0.13
DateTime==5.5
decorator==5.2.1
defusedxml==0.7.1
demucs==4.0.1
discord==2.3.2
discord.py==2.3.2
dishka==1.5.3
distro==1.9.0
dnspython==2.7.0
docopt==0.6.2
dora_search==0.1.12
dotenv==0.9.9
duckduckgo_search==8.1.1
einops==0.8.2
email_validator==2.2.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
et_xmlfile==2.0.0
executing==2.2.1
ExifRead==3.5.1
fastjsonschema==2.21.2
ffmpeg==1.4
ffmpeg-python==0.2.0
filelock==3.24.3
flatbuffers==23.5.26
frozenlist==1.4.1
fsspec==2026.2.0
future==1.0.0
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.41
google-auth==2.26.2
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
greenlet==3.2.0
grpcio==1.60.0
h11==0.14.0
h5py==3.10.0
httpcore==1.0.7
httpx==0.28.1
idna==3.6
ImageIO==2.37.3
imageio-ffmpeg==0.6.0
Interface==2.11.1
ipython==8.12.3
jedi==0.19.2
Jinja2==3.1.6
jiter==0.8.2
joblib==1.3.2
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
julius==0.2.7
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyterlab_pygments==0.3.0
keras==2.15.0
kombu==5.6.2
lameenc==1.8.1
lazy_loader==0.4
libclang==16.0.6
libmagic==1.0
librosa==0.10.1
llvmlite==0.46.0
lxml==5.3.1
magic-filter==1.0.12
Markdown==3.5.2
markdown-it-py==4.0.0
MarkupSafe==2.1.3
matplotlib-inline==0.2.1
mdurl==0.1.2
mistune==3.2.0
ml-dtypes==0.2.0
moviepy==2.2.1
mpmath==1.3.0
msgpack==1.1.2
multidict==6.0.5
murmurhash==1.0.15
mutagen==1.47.0
nbclient==0.10.4
nbconvert==7.17.1
nbformat==5.10.4
networkx==3.6.1
nltk==3.8.1
numba==0.64.0
numpy==1.26.4
oauthlib==3.2.2
omegaconf==2.3.0
openai==1.64.0
openpyxl==3.1.5
openunmix==1.3.0
opt-einsum==3.3.0
packaging==23.2
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.6
phonenumbers==8.13.55
pickleshare==0.7.5
pillow==10.2.0
pipreqs==0.5.0
platformdirs==4.9.2
pooch==1.9.0
preshed==3.0.13
primp==1.2.2
proglog==0.1.12
prompt_toolkit==3.0.52
propcache==0.3.1
protobuf==4.23.4
psutil==5.9.8
pure_eval==0.2.3
py-cord==2.4.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==3.0
pycryptodomex==3.23.0
pydantic==2.5.3
pydantic_core==2.14.6
pydub==0.25.1
Pygments==2.20.0
PyMySQL==1.1.0
PyPDF2==3.0.1
pypresence==4.3.0
PySocks==1.7.1
pystyle==2.9
pyTelegramBotAPI==4.33.0
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-magic==0.4.27
python-magic-bin==0.4.14
python-pptx==1.0.2
python-telegram-bot==22.1
python-whois==0.9.5
pytz==2024.1
pywin32==306
pywinauto==0.6.8
PyYAML==6.0.3
pyzipper==0.3.6
pyzmq==27.1.0
redis==5.0.1
referencing==0.37.0
regex==2023.12.25
requests==2.31.0
requests-file==3.0.1
requests-futures==1.0.2
requests-oauthlib==1.3.1
retrying==1.4.2
rich==15.0.0
rpds-py==0.30.0
rsa==4.9
scikit-learn==1.8.0
scipy==1.10.1
shellingham==1.5.4
sherlock-project==0.16.0
six==1.16.0
smart_open==7.6.0
smmap==5.0.1
sniffio==1.3.1
soundfile==0.12.1
soupsieve==2.6
soxr==1.0.0
spacy==3.8.14
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.40
srsly==2.5.3
stack-data==0.6.3
stem==1.8.2
StrEnum==0.4.15
submitit==1.5.4
sympy==1.14.0
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
tflearn==0.5.0
thinc==8.3.13
threadpoolctl==3.6.0
tinycss2==1.4.0
tinytag==2.1.0
tk==0.1.0
tldextract==5.3.1
torchaudio==2.7.1+cu118
torchvision==0.22.1+cu118
tornado==6.5.5
tqdm==4.66.1
traitlets==5.14.3
treetable==0.2.6
typer==0.25.1
typing==3.7.4.3
typing_extensions==4.12.2
tzdata==2025.2
tzlocal==5.3.1
ujson==5.10.0
urllib3==2.1.0
vine==5.1.0
wasabi==1.1.3
waybackpy==3.0.6
wcwidth==0.6.0
weasel==1.0.0
webencodings==0.5.1
websockets==12.0
Werkzeug==3.0.1
wrapt==1.14.1
XlsxWriter==3.2.2
yarg==0.1.9
yarl==1.20.0
zope.event==5.0
zope.interface==7.2
zope.schema==7.0.1
